<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>BASE_URL</key>
	<string>${BASE_URL}</string>
	<key>GOOGLE_LOGIN_PATH</key>
	<string>${GOOGLE_LOGIN_PATH}</string>
	<key>KAKAO_LOGIN_PATH</key>
	<string>${KAKAO_LOGIN_PATH}</string>
	<key>CHECK_DUPLICATE_NICKNAME_PATH</key>
	<string>${CHECK_DUPLICATE_NICKNAME_PATH}</string>
	<key>SET_PROFILE_PATH</key>
	<string>${SET_PROFILE_PATH}</string>
	<key>RESIGN_PATH</key>
	<string>${RESIGN_PATH}</string>
	<key>REISSUE_TOKEN_PATH</key>
	<string>${REISSUE_TOKEN_PATH}</string>
	<key>FIND_PROFILE_IMG_PATH</key>
	<string>${FIND_PROFILE_IMG_PATH}</string>
	<key>SAVE_FEED_PATH</key>
	<string>${SAVE_FEED_PATH}</string>
	<key>FIND_DAY_FEED_PATH</key>
	<string>${FIND_DAY_FEED_PATH}</string>
	<key>FIND_MONTH_FEED_PATH</key>
	<string>${FIND_MONTH_FEED_PATH}</string>
	<key>FIND_OTHER_FEED_PATH</key>
	<string>${FIND_OTHER_FEED_PATH}</string>
	<key>FIND_USER_FEED_PATH</key>
	<string>${FIND_USER_FEED_PATH}</string>
	<key>ANALYSIS_HAPPINESS_PATH</key>
	<string>${ANALYSIS_HAPPINESS_PATH}</string>
	<key>FIND_MONTH_HAPPINESS_PATH</key>
	<string>${FIND_MONTH_HAPPINESS_PATH}</string>
	<key>FIND_YEAR_HAPPINESS_PATH</key>
	<string>${FIND_YEAR_HAPPINESS_PATH}</string>
	<key>UPDATE_PUBLIC_STATUS_PATH</key>
	<string>${UPDATE_PUBLIC_STATUS_PATH}</string>
	<key>UPDATE_LIKE_PATH</key>
	<string>${UPDATE_LIKE_PATH}</string>
	<key>CONNECT_NOTICE_PATH</key>
	<string>${CONNECT_NOTICE_PATH}</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&quot;소소해피&quot;가 프로필 사진 등록, 게시글에 사진 첨부와 같은 기능 사용을 위해 사진 라이브러리에 접근하도록 허용합니다.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${GOOGLE_NATIVE_APP_KEY}</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>${GOOGLE_NATIVE_APP_KEY_CLIENT}</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>${KAKAO_NATIVE_APP_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
