<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANALYSIS_HAPPINESS_PATH</key>
	<string>${ANALYSIS_HAPPINESS_PATH}</string>
	<key>BASE_URL</key>
	<string>${BASE_URL}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${GOOGLE_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${GOOGLE_REVERSED_CLIENT_ID}</string>
			</array>
		</dict>
	</array>
	<key>CHECK_DUPLICATE_NICKNAME_PATH</key>
	<string>${CHECK_DUPLICATE_NICKNAME_PATH}</string>
	<key>CONNECT_NOTICE_PATH</key>
	<string>${CONNECT_NOTICE_PATH}</string>
	<key>FIND_DAY_FEED_PATH</key>
	<string>${FIND_DAY_FEED_PATH}</string>
	<key>FIND_DETAIL_FEED_PATH</key>
	<string>${FIND_DETAIL_FEED_PATH}</string>
	<key>FIND_FEED_IMAGE</key>
	<string>$(FIND_FEED_IMAGE)</string>
	<key>FIND_FEED_UIIMAGE</key>
	<string>$(FIND_FEED_UIIMAGE)</string>
	<key>FIND_INTRODUCTION</key>
	<string>${FIND_INTRODUCTION}</string>
	<key>FIND_MONTH_FEED_PATH</key>
	<string>${FIND_MONTH_FEED_PATH}</string>
	<key>FIND_MONTH_HAPPINESS_PATH</key>
	<string>${FIND_MONTH_HAPPINESS_PATH}</string>
	<key>FIND_OTHER_FEED_PATH</key>
	<string>${FIND_OTHER_FEED_PATH}</string>
	<key>FIND_PROFILE_IMG_PATH</key>
	<string>${FIND_PROFILE_IMG_PATH}</string>
	<key>FIND_USER_FEED_PATH</key>
	<string>${FIND_USER_FEED_PATH}</string>
	<key>FIND_YEAR_HAPPINESS_PATH</key>
	<string>${FIND_YEAR_HAPPINESS_PATH}</string>
	<key>GET_AUTHORIZE_CODE_PATH</key>
	<string>${GET_AUTHORIZE_CODE_PATH}</string>
	<key>GIDClientID</key>
	<string>${GOOGLE_NATIVE_APP_KEY_CLIENT}</string>
	<key>GOOGLE_REVERSED_CLIENT_ID</key>
	<string>${GOOGLE_REVERSED_CLIENT_ID}</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>${KAKAO_NATIVE_APP_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PRIVATE_POLICY_PATH</key>
	<string>${PRIVATE_POLICY_PATH}</string>
	<key>REISSUE_TOKEN_PATH</key>
	<string>${REISSUE_TOKEN_PATH}</string>
	<key>RESIGN_PATH</key>
	<string>${RESIGN_PATH}</string>
	<key>SAVE_FEED_PATH</key>
	<string>${SAVE_FEED_PATH}</string>
	<key>SET_PROFILE_PATH</key>
	<string>${SET_PROFILE_PATH}</string>
	<key>SIGN_IN_PATH</key>
	<string>${SIGN_IN_PATH}</string>
	<key>TOS_PATH</key>
	<string>${TOS_PATH}</string>
	<key>UIAppFonts</key>
	<array>
		<string>dovemayo.otf</string>
		<string>dovemayo_bold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UPDATE_LIKE_PATH</key>
	<string>${UPDATE_LIKE_PATH}</string>
	<key>UPDATE_PUBLIC_STATUS_PATH</key>
	<string>${UPDATE_PUBLIC_STATUS_PATH}</string>
	<key>INQUIRY_MESSAGE</key>
	<string>${INQUIRY_MESSAGE}</string>
</dict>
</plist>
