//
//  Config.xcconfig
//  SoSoHappy
//
//  Created by 박민주 on 2023/08/31.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_NATIVE_APP_KEY = 6ac59beb532154440b6e1e18f8a11206
GOOGLE_NATIVE_APP_KEY = com.googleusercontent.apps.640150050609-pvmd19c1lq7ui5ht5bch5le2r2712215
GOOGLE_NATIVE_APP_KEY_CLIENT = 640150050609-pvmd19c1lq7ui5ht5bch5le2r2712215.apps.googleusercontent.com
